<%- include('includes/head.ejs') %>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/404style.css" rel="stylesheet" />

    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <div class="notfound">
                <div class="notfound-404">
                    <h1>4<span>0</span>4 <span> :( </span></h1>
                </div>
                <h2>The page you requested could not found.</h2>
                <a href="/" class="button-big">Go To HomePage</a>
            </div>


            <%- include('includes/end.ejs') %>